fastapi
uvicorn
pandas
scikit-learn
joblib
python-multipart
python-jose[cryptography]
passlib[bcrypt]
streamlit
matplotlib
seaborn


# pip install -r requirements.txt
# uvicorn app.main:app --reload
# python -m streamlit run tokens_dashboard.py

